{% extends 'base.html' %}

{% block container %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
	$('#btn').click(function(){
		$('form').append(
			'<select name="select">{% for class in classes %}<option value="{{ class }}">{{ class }}</option>{% endfor %}</select>'
		);
	});
});

</script>

<form action='/build-schedule' method='POST'>
	<button type='button' id='btn'>Add Another</button>

	<button type='submit'>Generate Schedule</button>

	<select name='select'>
		{% for class in classes %}
			<option value='{{ class }}'>{{ class }}</option>
		{% endfor %}
	</select>
</form>

{% endblock %}
